<!--
NO SIGNAL
<div
  [class]="{
    status: true,
    'status-online': currentStatus === 'online',
    'status-offline': currentStatus === 'offline',
    'status-unknown': currentStatus === 'unknown'
  }"
  [style.fontSize]="'23px'"
> -->

<!-- WITH SIGNAL -->
<div
  [class]="{
    status: true,
    'status-online': currentStatus() === 'online',
    'status-offline': currentStatus() === 'offline',
    'status-unknown': currentStatus() === 'unknown'
  }"
  [style.fontSize]="'23px'"
>
<!-- [style]="{
    'font-size': '64px'
  }"
  NO SIGNAL
  @if (currentStatus === 'online') {
  <p>Servers are online</p>
  <p>All systems are operational.</p>
  } @else if (currentStatus === 'offline') {
  <p>Servers are offline</p>
  <p>Functionality should be restored soon.</p>
  } @else {
  <p>Server status is unknown</p>
  <p>Fetching server status failed.</p>
  } -->
 <!-- WITH SIGNAL -->
  @if (currentStatus() === 'online') {
    <p>Servers are online</p>
    <p>All systems are operational.</p>
    } @else if (currentStatus() === 'offline') {
    <p>Servers are offline</p>
    <p>Functionality should be restored soon.</p>
    } @else {
    <p>Server status is unknown</p>
    <p>Fetching server status failed.</p>
    } 
</div>
